*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color:white;
}
header{
  display: flex;  
  justify-content: center;
}
.logo, .Top_menu{
    display: inline-block;
}
.Top_menu li{
    margin-right: 25px ;
    display: inline-block;
    vertical-align: middle;
}
.Top_menu a{
    font-family: arial;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.Top_menu a:hover{
    color: rgb(58, 242, 255)
}
.Logo h1{
    font-family: arial;
    font-size: 30px;
    color:white;
}

.products {
    padding: 20px;
    display: flex;
    padding-top: 80px;
    gap: 3rem;
  }
  
  .product {
    display: inline-block;
    width: 200px;
    margin: 10px;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }